body{
    margin: 0;
    padding: 0;
    background: url(../imagenex/GRIS_4.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}



.login-box{
    width: 800px;
    height: 800;
    background-color: rgb(57, 114, 136);  
    color: rgb(236, 238, 146);
    top: 55%;
    left: 60%;
    position: absolute;
    transform: translate(-65%, -65%); 
    box-sizing: border-box;
    padding: 100px 100px;



}


.login-box .avatar{
    width: 300px;
    height: 800px;
    border-radius: 50%;
    position: absolute;
    top: -35%;                      /*ariba abajo, del logo*/
    left: calc(-45% - -40px);       


}





.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 45px;
}


.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}



.login-box input{
    width: 100%;
    margin-bottom: 20px;
}



.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"]


